/*HORIZONTALLY SPACED exercise*/

div.images{
	margin: auto;
	width: 800px;
	text-align: center;
	position: relative;
}

/*.images>ol,p,img{
	.images>ol,.images>p,.images>img{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
}*/

.images ol{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
}

.images p{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
}

.images img{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
}

.images ol{
	padding-left: 50px;
}




/*VERTICALLY SPACED exercise*/

.parent{
display: flex;
height: 500px;
}

.child1{
	flex-direction: row;
	padding: 3px;
}

.child2 *{
	flex-direction: column;
}

.childboth{
	margin-top: auto;
	margin-bottom: auto;
}





/*HORIZONTAL LIST EXERCISE*/

.horizontalitem{
	display: inline;
}



/*BUTTONS EXERCISE*/

.button{
	background: rgb(200,86,113);
	color: white;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

.buttonlarge{
	font-size: 25px;
	padding: 20px 65px;
}

.buttonmedium{
	font-size: 16px;
	padding: 10px 40px;
}

.buttonsmall{
	font-size: 14px;
	padding: 5px 7px;
}