/*HORIZONTALLY SPACED exercise*/

div.images{
	margin: auto;
	width: 800px;
	text-align: center;
	position: relative;
}

/*.images>ol,p,img{
	.images>ol,.images>p,.images>img{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
}*/

.images ol{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
}

.images p{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
}

.images img{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
}

.images ol{
	padding-left: 50px;
}




/*VERTICALLY SPACED exercise*/

.parent{
display: flex;
height: 500px;
}

.child1{
	flex-direction: row;
	padding: 3px;
}

.child2 *{
	flex-direction: column;
}

.childboth{
	margin-top: auto;
	margin-bottom: auto;
}